<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Props</title>
</head>

<body>
  <div id="app">
    <new-component :author="author"></new-component>
  </div>

  <script src=" vue.js">
  </script>
  <script>
    const newComponent = {
      template: `<h1>{{ author.name }}</h1>`,
      props: {
        author: Object
      }
    };

    const vue = new Vue({
      el: "#app",
      data: {
        author: {
          name: "Name"
        }
      },
      components: {
        "new-component": newComponent
      }
    });
  </script>
</body>

</html>